@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-green: #91ddcf;
  --color-light-beige: #f7f9f2;
  --color-light-pink: #e8c5e5;
  --color-pink: #f19ed2;
}

.pink-text {
  color: var(--color-pink);
}

@font-face {
  font-family: "PlaywriteAUSA-Regular";
  src: url("./assets/fonts/PlaywriteAUSA-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "PlaywriteAUSA-Regular", sans-serif;

  /* Firefox Scrollbar */
  scrollbar-width: thin;
  scrollbar-color: #e8c5e5 #91ddcf;
}

/* WebKit Browsers */
/* Chrome */
::-webkit-scrollbar {
  background-color: #91ddcf;
  /* border: 3px solid #10b981; */
  width: 15px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #91ddcf;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #e8c5e5;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #f19ed3d8;
}
